@mixin container($max-width) {
    max-width: $max-width;
    margin: auto;
}

@mixin box {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
