$screen-lg: 1200px;
$screen-md: 1000px;

$font-size: 16px;
$font-family: Roboto, Arial, sans-serif;

$color-white: #ffffff;
$color-primary: #006d77;
$color-secondary: #e29578;
$color-tertiary: #edf6f9;
